<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />

    <title>ИМ</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Сотрудники
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            Ноутбуки  <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/status">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                            Статусы
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Учет ноутбуков</h1>
            </div>
            
            
            <form>
                <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                        <label for="filter_laptop_number" class="col-form-label-sm">Номер:</label>
                        <input type="text" class="form-control" id="filter_laptop_number">
                    </div>
                    <div class="col-sm-3 my-1">
                        <label for="laptopFirm" class="col-form-label-sm">Фирма</label>
                        <select class="form-control form-control-sm" id="laptopFirm">
                            <option></option>
                            <option>HP</option>
                            <option>TOSHIBA</option>
                            <option>MSI</option>
                            <option>Lenova</option>
                        </select>
                    </div>
                    <div class="col-sm-3 my-1">
                        <label for="filter_date_buy" class="col-form-label-sm">Дата покупки</label>
                        <div class="input-group">
                            <input type="text" class="form-control datetimepicker-input" id="filter_date_buy" data-toggle="datetimepicker" data-target="#filter_date_buy"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="clear_filter_date_buy"><i class="fas fa-backspace"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 my-1">
                        <button type="button" class="btn btn-primary" data-tooltip="tooltip" data-placement="bottom" title="Фильтровать" id="search">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" data-tooltip="tooltip" data-placement="bottom" title="Сбросить фильтры" id="filter-clear">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
            <h2>
                Ноутбуки
                <button type="button" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Добавить ноутбук" data-target="#addLaptop">
                    <i class="fas fa-plus"></i>
                </button>
            </h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Инв. </br>номер</th>
                            <th>Фирма</th>
                            <th>Модель</th>
                            <th>Дата покупки</th>
                            <th>Срок службы </br>(в годах)</th>
                            <th>Кол-во </br>ядер</th>
                            <th>Память </br>(GB)</th>
                            <th>Жесткий </br>диск (GB)</th>
                            <th>Статус</th>
                            <th>Ответственый</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="laptop-table">
                        {% for laptop in laptops %}
                            <tr data-laptop-id="{{ laptop.id }}">
                                <td data-laptop-field="number"><a href="/status?number={{ laptop.number|url_encode }}">{{ laptop.number }}</a></td>
                                <td data-laptop-field="firm">{{ laptop.firm }}</td>
                                <td data-laptop-field="model">{{ laptop.model }}</td>
                                <td data-laptop-field="dateBuy">{{ laptop.dateBuy|date('Y-m-d') }}</td>
                                <td data-laptop-field="interval">{{ laptop.interval|date('%d') }}</td>
                                <td data-laptop-field="numberCores">{{ laptop.numberCores }}</td>
                                <td data-laptop-field="memory">{{ laptop.memory }}</td>
                                <td data-laptop-field="disk">{{ laptop.disk }}</td>
                                <td data-laptop-field="status">{{ laptop.statuses|first.status }}</td>
                                <td data-laptop-field="status">{{ laptop.statuses|first.employee.fio }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-target="#editLaptop" data-placement="bottom" title="Редактировать" onclick="currentEdit({{ laptop.id }})">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-target="#employeeLaptop" data-placement="bottom" title="Назначить ответственного" onclick="currentAddEmployee({{ laptop.id }}, '{{ laptop.number }} ({{ laptop.firm }} / {{ laptop.model }})')">
                                            <i class="fas fa-chalkboard-teacher"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-target="#to_fix" data-placement="bottom" title="Перевести в ремонт" onclick="toStatus({{ laptop.id }}, {{ laptop.statuses|first.employee.id }}, 'В ремонте')">
                                            <i class="fas fa-tools"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" data-target="#to_warehouse" data-placement="bottom" title="Перести на склад"  onclick="toStatus({{ laptop.id }}, 1, 'На складе')">
                                            <i class="fas fa-warehouse"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addLaptop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="save_number">Инв. номер</label>
                    <input type="text" class="form-control" id="save_number">
                    <label for="save_firm">Фирма</label>
                    <select class="form-control form-control-sm" id="save_firm">
                        <option></option>
                        <option>HP</option>
                        <option>TOSHIBA</option>
                        <option>MSI</option>
                        <option>Lenova</option>
                    </select>
                    <label for="save_model">Модель</label>
                    <input type="text" class="form-control" id="save_model">
                    <label for="save_date_buy">Дата покупки</label>
                    <input type="text" class="form-control datetimepicker-input" id="save_date_buy" data-toggle="datetimepicker" data-target="#save_date_buy"/>
                    <label for="save_interval">Срок службы (в годах)</label>
                    <input type="number" class="form-control" id="save_interval"/>
                    <label for="save_cores">Кол-во ядер</label>
                    <input type="number" class="form-control" id="save_cores">
                    <label for="save_memory">Память (GB)</label>
                    <input type="number" class="form-control" id="save_memory">
                    <label for="save_disk">Жесткий диск (GB)</label>
                    <input type="number" class="form-control" id="save_disk">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button id="laptop_save_button" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editLaptop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Изменение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit_number">Инв. номер</label>
                    <input type="text" class="form-control" id="edit_number">
                    <label for="edit_firm">Фирма</label>
                    <select class="form-control form-control-sm" id="edit_firm">
                        <option>HP</option>
                        <option>TOSHIBA</option>
                        <option>MSI</option>
                        <option>Lenova</option>
                    </select>
                    <label for="edit_model">Модель</label>
                    <input type="text" class="form-control" id="edit_model">
                    <label for="edit_date_buy">Дата покупки</label>
                    <input type="text" class="form-control datetimepicker-input" id="edit_date_buy" data-toggle="datetimepicker" data-target="#edit_date_buy"/>
                    <label for="edit_interval">Срок службы (в годах)</label>
                    <input type="text" class="form-control" id="edit_interval"/>
                    <label for="edit_cores">Кол-во ядер</label>
                    <input type="number" min="0" class="form-control" id="edit_cores">
                    <label for="edit_memory">Память (GB)</label>
                    <input type="number" min="0" class="form-control" id="edit_memory">
                    <label for="edit_disk">Жесткий диск (GB)</label>
                    <input type="number" class="form-control" id="edit_disk">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button id="laptop_edit_button" type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="employeeLaptop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Назначение ответственного <br>для ноутбука <b id="laptop_name"></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit_employee">Ответственный</label>
                    <select class="form-control form-control-lg" id="edit_employee">
                        {% for employee in employees %}
                            <option value="{{ employee.id }}">{{ employee.fio }} / {{ employee.position }}</option>
                        {% endfor %}
                    </select>
                    <label for="edit_date_start">Дата начала</label>
                    <input type="text" class="form-control datetimepicker-input" id="date_start" data-toggle="datetimepicker" data-target="#date_start"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button id="addEmployeeLaptop" type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js//custom.laptop.js"></script>
</body>
</html>